body {
	background-color: rgba(11, 80, 71, 0.795);
	background-position: absolute;
	font-family: 'Teko', sans-serif;
	margin: 0;
	padding: 0;
}

a {
	color: rgb(0, 10, 28);
	text-decoration: none;
}

/* Config Menu */

header {
	color: #333;
}

.menu-overwatch,
.menu-blizzard {
	display: flex;
	justify-content: center;
}

	/* Menu da Blizzard */

.nav-blizzard {
	font-family: FuturaNo2D,Century Gothic,AppleGothic,sans-serif;
	background-color: black;
	display: flex;
	height: 40px;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
}

.menu-nav-blizzard {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.menu-nav-blizzard li {
	font-size: 15px;
	display: inline;
	text-decoration: none;
}

.menu-left-blizzard,
.menu-rigth-blizzard {
	margin: auto 0;
	font-weight: 400;
}

.menu-rigth-blizzard li,
.menu-left-blizzard li {
	color: white;
}

.menu-rigth-blizzard li {
	padding-left: 30px;
}
.menu-left-blizzard li {
	padding-right: 30px;
}

.menu-logo-blizzard {
	margin-top: 3px;
	width: 60px;
	height: 100%;
}


	/* Menu da Overwatch */
.nav-overwatch {
	font-family: FuturaNo2D,Century Gothic,AppleGothic,sans-serif;
	background-color: white;
	display: flex;
	position: relative;
	margin-top: 2%;
	height: 50px;
	width: 80%;
}

.menu-nav-overwatch {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100%;
}

.menu-nav-overwatch li {
	font-size: 14px;
	display: inline;
	text-decoration: none;
}

.menu-left,
.menu-rigth {
	padding: 0;
	margin: auto 0;
	font-weight: 700;
}

.menu-left li, 
.menu-rigth li {
	color: #333;
	padding: 1% 30px;
}

.menu-left li{
	border-right: 2px solid #333;
}

.menu-rigth li {
	border-left: 2px solid #333;
}

.menu-nav-overwatch .menu-rigth li {
	padding: 3% 30px;
}

.menu-logo {
	background-color: #333;
	margin-right: 2px;
	width: 54px;
	height: 50px;
}

.buttonBuyGo {
	background-color: rgb(236, 154, 21);
	color: rgb(235, 235, 235);
	font-size: 120%;
	font-weight: bold;
	width: 180px;
	height: auto;
	margin-right: 0;
	margin-left: 2px;
	text-shadow: 0 0 3px #333;
}

.buttonBuyGo:hover {
	background-color: orange;
	box-shadow: inset 0 0 12px #333;
	font-size: 112%;
	border: 1px solid #666;
	box-sizing: border-box;
	transition: all 0.2s;
	cursor: pointer;
}

/* All Container */

.container {
	margin-top: 5%;
	margin-left: auto;
    margin-right: auto;
	width: 80%;
}

/* Config of Need a Hero? */

.need-hero{
	margin-left: auto;
    margin-right: auto;
	width: 90%;
	color: #333;
}

.need-hero h1 {	
	font-style: italic;
	font-size: 84px;
	font-weight: 400;
	line-height: 1;
	margin-bottom: 0;
	padding-left: 1.5%;
}

.need-hero p {
	font-family: FuturaNo2D,century gothic,arial,sans-serif;
	font-weight: 700;
	margin-top: 0;
	padding-left: 2%;
	font-size: 20px;
	line-height: 1.5;
}

/* Heroes Gallery */

.panel {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	width: 100%;
}

.heroes {
	background-color: rgb(90, 112, 109);
	border: 2px solid rgb(255, 255, 255);
	margin: 0 7px 7px 0;
	position: relative;
	height: 311px;
}

.heroes:hover {
	transform: scale(1.08);
	transition: 0.58s;
	top: -0.5rem;	
}

.heroes figure {
	margin: 0;
}

.heroes img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

figcaption {
	color: rgba(255, 255, 255, 0.7);
	font-style: italic;
	background-color: rgba(40, 53, 79, .9);
	display: block;
	height: 15%;
	padding-top: 17%;
	text-align: center;
	font-size: 200%;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.tank-icon, .damage-icon, .support-icon {
	list-style: none;
	position: absolute;
	max-width: 20%;
	bottom: 30%;
	left: 0;
	width: 100%;
}

/* Rodapé e derivados abaixo */

button {
	border: none;
}

footer {
	margin-top: 80px;
	width: 100%;
}

.footer-compra {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 105px;
	background-color: rgb(27, 27, 27);
	border-bottom: 2px solid rgba(128, 128, 128, 0.2);
	border-top: 5px solid rgba(128, 128, 128, 0.6);
}

.buttonBuy {
	background-color: rgb(236, 154, 21);
	color: rgb(235, 235, 235);
	font-size: 19px;
	font-weight: bold;
	width: 231px;
	height: 39px;
	border-radius: 5px;
	text-shadow: 0 0 3px #333;
}

.buttonBuy:hover {
	background-color: orange;
	box-shadow: inset 0 0 12px #333;
	font-size: 112%;
	border: 1.15px solid #666;
	box-sizing: border-box;
	transition: all 0.2s;
	cursor: pointer;
}

.footer-midia {
	margin-top: -28px;
	text-align: center;
	font-weight: bold;
	width: 100%;
	height: 126px;
	background-color: rgb(27, 27, 27);
}

.footer-midia p {
	padding-top: 13px;
	color: rgb(235, 235, 235);
	font-size: 28px;
	font-style: italic;
}

.footer-midia img {
	width: 54px;
	height: 54px;
	position: relative;
	max-width: 100%;
	background-color: rgb(160, 160, 160);
	border: 2px solid rgb(160, 160, 160);
	border-radius: 54%;
	box-sizing: border-box;
	margin: -17px 10px;
}

.footer-midia img:hover {
	transform: scale(1.15);
	transition: 0.2s;
	border: 2.7px solid rgb(160, 160, 160);
	box-sizing: border-box;
}