body {
	background-color: gray;
	font-family: 'Teko', sans-serif;
}

h3 {
	font-size: 40px;
}

.container {
	display: flex;
	justify-content: center;
	float: left;
}

.overview {
	color: white;
	background-color: rgb(31, 66, 95);
	padding: 1%;
	padding-top: 0;
	margin: 2%;
	position: relative;
	width: 50%;
	height: 100%;
	transform: translateX(0%) translateY(0%);
}

.overvoverview-titleiew {
	width: 100%;
}

.overview-title h1 {
	font-size: 100px;
	text-align: center;
	margin: 0;
}

.role-container {
	display: flex;
	justify-content: center;
	margin: -6% 0;
	padding: 0;
}

.role {
	width: 45%;
	margin-right: 10px;
}

.role h2 {
	margin-top: 0;
	font-size: 70px;
	line-height: .80;
}

.role h3,
.dificulty h3 {
	color: black;
	margin-bottom: 0;
	line-height: .80;
}

.dificulty {
	width: 45%;
	float: right;
	margin-bottom: 0;
	padding-bottom: 0;
}

.dificulty img {
	width: 42px;
	height: 42px;
}

.stars-icon {
	float: right;
	position: relative;
}

div .description p {
	padding-top: 15px;
}

.description,
.biotic-rifle,
.sleep-dart,
.biotic-grenade,
.nano-boost {
	background-color: rgb(31, 49, 78);
	margin: -3% 0;
	padding-top: 0;
	height: 20%;
	width: 100%;
	border-radius: 4px;
}

.description p,
.biotic-rifle p,
.sleep-dart p,
.biotic-grenade p,
.nano-boost p {	
	font-size: 30px;
	max-width: 100%;
	padding: 0 40px 15px 40px;
	margin-top: 0;
}

.description h3,
.biotic-rifle h3,
.sleep-dart h3,
.biotic-grenade h3,
.nano-boost h3 {
	font-size: 35px;
	padding: 5% 5% 0 5%;
	margin-bottom: 0;
}

.abilities h2 {
	padding: 5% 5% 0 5%;
	margin: 0 0;
	font-size: 70px;
	line-height: .80;
}

.personagem {
	width: 35%;
	margin: 2%;
	background-color: red;
}