body {
	background-color: rgb(199, 226, 235);
	background-position: absolute;
	background-position: absolute;
	
	font-family: 'Teko', sans-serif;
	
	margin: 0;
	padding: 0;
}

header h1 {
	color: #0a0b0d;
	opacity: 0.9;
	
	font-size: 120px;
	letter-spacing: 6px;

	margin: 0px;
}

header p {
	font-family: 'Rubik', sans-serif;
	font-size: 25px;
	
	color: #0a0b0d;
	opacity: 0.9;
	
	margin: 0px;
}

a {
	color: rgb(0, 10, 28);
	text-decoration: none;
}

button {
	border: none;
}

.panel {
	display: flex;
	flex-wrap: wrap;

	align-items: center;
	justify-content: center;

	margin: 0 3%;
}

.heroes {
	background-color: #ccd8ff;
	border: 2px solid rgb(255, 255, 255);

	margin: 0 7px 7px 0;
	position: relative;
	height: 311px;
}

.heroes:hover {
	transform: scale(1.2);
	transition: 0.3s;

	top: -1.5rem;
	right: -0.6rem;
	left: -0.6rem;
	bottom: -1rem;
}

.heroes figure {
	text-align: center;
	margin: 0;
}

.heroes img {
	position: relative;
	
	max-width: 100%;
	max-height: 100%;
}

figcaption {
	color: rgba(255, 255, 255, 0.7);
	font-style: italic;
	background-color: rgba(40, 53, 79, .9);
	display: block;

	height: 15%;

	padding-top: 17%;

	text-align: center;
	font-size: 200%;

	position: absolute;

	bottom: 0;
	left: 0;

	width: 100%;
}

footer {
	margin-top: 80px;
	width: 100%;
	
	background-color: dimgray;
}

.tank-icon,
.damage-icon,
.support-icon {
	list-style: none;
	position: absolute;
	max-width: 20%;
	
	bottom: 30%;
	left: 0;
	width: 100%;
}


.footer-compra {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 105px;

	background-color: rgb(27, 27, 27);
	border-bottom: 2px solid rgba(128, 128, 128, 0.2);
	border-top: 5px solid rgba(128, 128, 128, 0.6);
}

.buttonCompra {
	background-color: rgb(236, 154, 21);

	color: white;
	font-size: 19px;
	font-weight: bold;

	width: 231px;
	height: 39px;

	border-radius: 3px;
}

.buttonCompra:hover {
	background-color: orange;
	transition: 0.3s;
}

.footer-midia {
	margin-top: -18px;

	text-align: center;

	font-weight: bold;

	width: 100%;
	height: 126px;
	background-color: rgb(27, 27, 27);
}

.footer-midia p {
	padding-top: 20px;
	color: white;
	
	font-size: 20px;
	font-style: italic;
}

.footer-midia li {
	margin: 0 10px;
	margin-top: -17px;
	display: inline-block;

	color: white;

	list-style: none;

	width: 54px;
	height: 54px;
}

.footer-midia img {
	position: relative;
	max-width: 100%;
}